{% extends '::base.html.twig' %}

{% block stylesheets %}
	<!-- Custom styles for this template -->
	<!-- <link href="{{ asset('bootstrap/css/navbar.css') }}" rel="stylesheet"> -->
{% endblock %}

{% block body %}
{# <div class="container"> #}
	
	<p>
	<div class="panel panel-default">
		
		<div class="panel-heading">
			<h4>Panel Principal</h4>
		</div>
		
		<div class="panel-body">
		<table class="table table-hover table-striped">
	    <thead>
		        <tr>
		            <th>No.</th>
		            <th>Nombre</th>
		            <th>Acción</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>1</td>
		            <td>
		            	Opción A
					</td>
		            <td>
		            	<a class="btn btn-default btn-xs" href="#">Abrir</a>
		            </td>
		        </tr>
		        <tr>
		            <td>2</td>
		            <td>
		            	Opción B
		            </td>
		            <td>
		            	<a class="btn btn-default btn-xs" href="#">Abrir</a>
					</td>
		        </tr>
		        <tr>
		            <td>3</td>
		            <td>
		            	Opción C
		            </td>
		            <td>
		            	<a class="btn btn-default btn-xs" href="#">Abrir</a>
		            </td>
		        </tr>
		        <tr>
		            <td>4</td>
		            <td>
						Opción D
					</td>
		            <td>
						<a class="btn btn-default btn-xs" href="#">Abrir</a>
					</td>
		        </tr>
		        <tr>
		            <td>5</td>
		            <td>
						Opción E
		            </td>
		            <td>
		            	<a class="btn btn-default btn-xs" href="#">Abrir</a>
		            </td>
		        </tr>
		    </tbody>
		</table>
		</div>
	</div>
	</p>
{# </div> #}
{% endblock %}